<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock%}</title>

    <style>
        {% block modify %}{% endblock%}
    </style>

    {% block styling %}
        {{ bootstrap.load_css() }}
    {% endblock %}
</head>

<header class="p-2 text-bg-dark">
    <div class="container">
        <div class="text-end">
            <a href="{{url_for('home')}}" class="btn btn-secondary">Home</a>
            <a href="{{url_for('login')}}" class="btn btn-primary">Log In</a>
        </div>
    </div>
</header>

<body>

    {% block content %}{% endblock %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}

</body>
</html>
